<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>淘宝库存查询</title>
</head>
<script typet="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<link href="/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript">

    function startSelectJd1() {
        var itemId=$("#jdItemId1").val();
        var time=$("#jdTime1").val();
        if(itemId == "" || itemId == undefined || itemId == null){
            alert("请输入商品id")
            return;
        }
        if(time == "" || time == undefined || time == null){
            alert("请输入查询间隔")
            return;
        }
        $.ajax({
            url:"startSelectJd1",
            // dataType: "json",
            data:{"itemId":itemId,"time":time,"areaCode":"22_1930_49324_49398"},
            type: "post",
        })

    }
    function startSelectJd2() {
        var itemId=$("#jdItemId2").val();
        var time=$("#jdTime2").val();
        if(itemId == "" || itemId == undefined || itemId == null){
            alert("请输入商品id")
            return;
        }
        if(time == "" || time == undefined || time == null){
            alert("请输入查询间隔")
            return;
        }
        $.ajax({
            url:"startSelectJd2",
            // dataType: "json",
            data:{"itemId":itemId,"time":time,"areaCode":"19_1601_50259_51886"},
            type: "post",
        })

    }
    function stopSelectJd1() {
        $.ajax({
            url:"stopSelectJd1",
            dataType: "json",
            type: "post",
        })

    }
    function stopSelectJd2() {
        $.ajax({
            url:"stopSelectJd2",
            dataType: "json",
            type: "post",
        })

    }
    function JxtKl(){
        var JxklGoodId=$("#JxklGoodId").val();
        if(JxklGoodId == "" || JxklGoodId == undefined || JxklGoodId == null){
            alert("请输入解析商品")
            return;
        }
        $.ajax({
            url:"JxtKl",
            data:{"JxklGoodId":JxklGoodId},
            type: "post",
            async : true,
            success : function(data) {
                $("#JxContent").val(data);
            }
        })
    }


    function startSelectKl() {
        var klGoodId=$("#klGoodId").val();
        var klGoodTime=$("#klGoodTime").val();
        var klGoodIndex=$("#klGoodIndex").val();
        if(klGoodId == "" || klGoodId == undefined || klGoodId == null){
            alert("请输入商品id")
            return;
        }
        if(klGoodTime == "" || klGoodTime == undefined || klGoodTime == null){
            alert("请输入查询间隔")
            return;
        }if(klGoodIndex == "" || klGoodIndex == undefined || klGoodIndex == null){
            alert("请输入指定查询型号")
            return;
        }
        $.ajax({
            url:"startSelectKl",
            // dataType: "json",
            data:{"klGoodId":klGoodId,"klGoodTime":klGoodTime,"klGoodIndex":klGoodIndex},
            type: "post",
        })

    }
    function stopSelectKl() {
        $.ajax({
            url:"stopSelectKl",
            dataType: "json",
            type: "post",
        })

    }


    function startSelect() {
        var authorId=$("#authorId").val();
        var keyWord=$("#keyWord").val();
        if(authorId == "" || authorId == undefined || authorId == null){
            alert("请输入主播id")
            return;
        }
        if(keyWord == "" || keyWord == undefined || keyWord == null){
            alert("请输入商品关键词")
            return;
        }
        $.ajax({
            url:"startSelect",
            // dataType: "json",
            data:{"authorId":authorId,"keyWord":keyWord},
            type: "post",
        })

    }
    function stopSelect() {
        $.ajax({
            url:"stopSelect",
            dataType: "json",
            type: "post",
        })

    }

</script>
<body>
<div style="width: 100%;margin-top: 5%">
    <span style="display:inline-block;width: 100px;float: left;font-size: 18px;vertical-align: middle;line-height: 40px;margin-left: 30%">主播id:</span>
    <input type="text" id="authorId" class="form-control" style="width:200px;float: left;margin-left: 1%" >
    <span style="display:inline-block;width: 80px;float: left;font-size: 18px;vertical-align: middle;line-height: 40px;margin-left: 1%">查询关键词:</span>
    <input type="text" id="keyWord" class="form-control" style="width:100px;float: left;margin-left: 1%"  >
    <button id="startSelect"   class="btn btn-default" value="开始监控" onclick="startSelect()" style="float: left;margin-left: 1%">开始监控抢购</button>
    <button id="stopSelect"  class="btn btn-default"  value="停止监控" onclick="stopSelect()" style="float: left;margin-left: 1%">停止监控抢购</button>
</div>
<br>
<br>
<br>



</body>
</html>