<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>淘宝库存查询</title>
</head>
<script typet="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<link href="/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript">
    function startSelect() {
        var itemId=$("#itemId").val();
        var time=$("#time").val();
        if(itemId == "" || itemId == undefined || itemId == null){
            alert("请输入商品id")
            return;
        }
        if(time == "" || time == undefined || time == null){
            alert("请输入查询间隔")
            return;
        }
        $.ajax({
            url:"startSelect",
            // dataType: "json",
            data:{"itemId":itemId,"time":time},
            type: "post",
        })

    }
    function stopSelect() {
        $.ajax({
            url:"stopSelect",
            dataType: "json",
            type: "post",
        })

    }
    function startSelectJd1() {
        var itemId=$("#jdItemId1").val();
        var time=$("#jdTime1").val();
        if(itemId == "" || itemId == undefined || itemId == null){
            alert("请输入商品id")
            return;
        }
        if(time == "" || time == undefined || time == null){
            alert("请输入查询间隔")
            return;
        }
        $.ajax({
            url:"startSelectJd1",
            // dataType: "json",
            data:{"itemId":itemId,"time":time,"areaCode":"22_1930_49324_49398"},
            type: "post",
        })

    }
    function startSelectJd2() {
        var itemId=$("#jdItemId2").val();
        var time=$("#jdTime2").val();
        if(itemId == "" || itemId == undefined || itemId == null){
            alert("请输入商品id")
            return;
        }
        if(time == "" || time == undefined || time == null){
            alert("请输入查询间隔")
            return;
        }
        $.ajax({
            url:"startSelectJd2",
            // dataType: "json",
            data:{"itemId":itemId,"time":time,"areaCode":"19_1601_50259_51886"},
            type: "post",
        })

    }
    function stopSelectJd1() {
        $.ajax({
            url:"stopSelectJd1",
            dataType: "json",
            type: "post",
        })

    }
    function stopSelectJd2() {
        $.ajax({
            url:"stopSelectJd2",
            dataType: "json",
            type: "post",
        })

    }
    function JxtKl(){
        var JxklGoodId=$("#JxklGoodId").val();
        if(JxklGoodId == "" || JxklGoodId == undefined || JxklGoodId == null){
            alert("请输入解析商品")
            return;
        }
        $.ajax({
            url:"JxtKl",
            data:{"JxklGoodId":JxklGoodId},
            type: "post",
            async : true,
            success : function(data) {
                $("#JxContent").val(data);
            }
        })
    }


    function startSelectKl() {
        var klGoodId=$("#klGoodId").val();
        var klGoodTime=$("#klGoodTime").val();
        var klGoodIndex=$("#klGoodIndex").val();
        if(klGoodId == "" || klGoodId == undefined || klGoodId == null){
            alert("请输入商品id")
            return;
        }
        if(klGoodTime == "" || klGoodTime == undefined || klGoodTime == null){
            alert("请输入查询间隔")
            return;
        }if(klGoodIndex == "" || klGoodIndex == undefined || klGoodIndex == null){
            alert("请输入指定查询型号")
            return;
        }
        $.ajax({
            url:"startSelectKl",
            // dataType: "json",
            data:{"klGoodId":klGoodId,"klGoodTime":klGoodTime,"klGoodIndex":klGoodIndex},
            type: "post",
        })

    }
    function stopSelectKl() {
        $.ajax({
            url:"stopSelectKl",
            dataType: "json",
            type: "post",
        })

    }

</script>
<body>
<div style="width: 100%;margin-top: 5%">
    <span style="display:inline-block;width: 100px;float: left;font-size: 18px;vertical-align: middle;line-height: 40px;margin-left: 30%">监控商品id:</span>
    <input type="text" id="itemId" class="form-control" style="width:200px;float: left;margin-left: 1%" >
    <span style="display:inline-block;width: 80px;float: left;font-size: 18px;vertical-align: middle;line-height: 40px;margin-left: 1%">查询间隔:</span>
    <input type="text" id="time" class="form-control" style="width:100px;float: left;margin-left: 1%" placeholder="秒为单位" >
    <button id="startSelect"   class="btn btn-default" value="开始监控" onclick="startSelect()" style="float: left;margin-left: 1%">开始监控</button>
    <button id="stopSelect"  class="btn btn-default"  value="停止监控" onclick="stopSelect()" style="float: left;margin-left: 1%">停止监控</button>
</div>
<br>
<br>
<br>
<div style="width: 100%;text-align: center">
    <span style="font-size: 25px;width: 100%;vertical-align: middle;display:inline-block;">
    群霸专用京东库存查询
    </span>
</div>
<br>
<div style="width: 100%;">
    <span style="display:inline-block;width: 100px;float: left;font-size: 18px;vertical-align: middle;line-height: 40px;margin-left: 30%">监控商品id:</span>
    <input type="text" id="jdItemId1" class="form-control" style="width:200px;float: left;margin-left: 1%" >
    <span style="display:inline-block;width: 80px;float: left;font-size: 18px;vertical-align: middle;line-height: 40px;margin-left: 1%">查询间隔:</span>
    <input type="text" id="jdTime1" class="form-control" style="width:100px;float: left;margin-left: 1%" placeholder="秒为单位" >
    <button id="startSelectJd1"   class="btn btn-default" value="开始监控" onclick="startSelectJd1()" style="float: left;margin-left: 1%">开始监控</button>
    <button id="stopSelectJd1"  class="btn btn-default"  value="停止监控" onclick="stopSelectJd1()" style="float: left;margin-left: 1%">停止监控</button>
</div>
<br>
<br>
<br>
<div style="width: 100%;text-align: center">
    <span style="font-size: 25px;width: 100%;vertical-align: middle;display:inline-block;">
    白夜专用京东库存查询
    </span>
</div>
<br>
<div style="width: 100%;">
    <span style="display:inline-block;width: 100px;float: left;font-size: 18px;vertical-align: middle;line-height: 40px;margin-left: 30%">监控商品id:</span>
    <input type="text" id="jdItemId2" class="form-control" style="width:200px;float: left;margin-left: 1%" >
    <span style="display:inline-block;width: 80px;float: left;font-size: 18px;vertical-align: middle;line-height: 40px;margin-left: 1%">查询间隔:</span>
    <input type="text" id="jdTime2" class="form-control" style="width:100px;float: left;margin-left: 1%" placeholder="秒为单位" >
    <button id="startSelectJd2"   class="btn btn-default" value="开始监控" onclick="startSelectJd2()" style="float: left;margin-left: 1%">开始监控</button>
    <button id="stopSelectJd2"  class="btn btn-default"  value="停止监控" onclick="stopSelectJd2()" style="float: left;margin-left: 1%">停止监控</button>
</div>



<br>
<div style="width: 100%;text-align: center">
    <span style="font-size: 25px;width: 100%;vertical-align: middle;display:inline-block;">
    群霸专用考拉库存查询
    </span>
</div>
<div style="width: 100%;">
    <span style="display:inline-block;width: 100px;float: left;font-size: 18px;vertical-align: middle;line-height: 40px;margin-left: 30%">解析商品id:</span>
    <input type="text" id="JxklGoodId" class="form-control" style="width:200px;float: left;margin-left: 1%" >
    <button id="JxtKl"   class="btn btn-default" value="解析" onclick="JxtKl()" style="float: left;margin-left: 1%">解析商品</button>
    <br>
    <textarea id="JxContent" style="width: 40%;height:200px;margin-left:30% "></textarea>
</div>
<br>
<div style="width: 100%;">
    <span style="display:inline-block;width: 100px;float: left;font-size: 18px;vertical-align: middle;line-height: 40px;margin-left: 25%">监控商品id:</span>
    <input type="text" id="klGoodId" class="form-control" style="width:200px;float: left;margin-left: 1%" >
    <span style="display:inline-block;width: 80px;float: left;font-size: 18px;vertical-align: middle;line-height: 40px;margin-left: 1%">查询间隔:</span>
    <input type="text" id="klGoodTime" class="form-control" style="width:100px;float: left;margin-left: 1%" placeholder="秒为单位" >
    <span style="display:inline-block;width: 80px;float: left;font-size: 18px;vertical-align: middle;line-height: 40px;margin-left: 1%">商品型号:</span>
    <input type="text" id="klGoodIndex" class="form-control" style="width:100px;float: left;margin-left: 1%" placeholder="从1开始" >
    <button id="startSelectKl"   class="btn btn-default" value="开始监控" onclick="startSelectKl()" style="float: left;margin-left: 1%">开始监控</button>
    <button id="stopSelectKl"  class="btn btn-default"  value="停止监控" onclick="stopSelectKl()" style="float: left;margin-left: 1%">停止监控</button>
</div>


</body>
</html>